## Python
# Bytecode cache
__pycache__/
# Packaging / distribution
/dist/
.venv/

# temp dirs
/tools/deploy/temp/
/tmp/

# IDE
.idea/
.vscode/

# Local development
.env
./coverage.xml
./htmlcov/

# Task
.task/
Taskfile.yml
Taskfile.yaml
/tools/deploy/environment.properties

# Special file placed for gateway aap-dev testing
src/aap_eda/settings/dev_hacked_settings.py
