---
repos:
  - repo: local
    hooks:
      # This allows using task or go-task, depending on what is installed
      - id: black
        name: black
        language: system
        types: [python]
        entry: command -v task > /dev/null && CMD=task || CMD=go-task; ${CMD} lint:black --
      - id: isort
        name: isort
        language: system
        types: [python]
        entry: command -v task > /dev/null && CMD=task || CMD=go-task; ${CMD} lint:isort --
      - id: ruff
        name: ruff
        language: system
        types: [python]
        entry: command -v task > /dev/null && CMD=task || CMD=go-task; ${CMD} lint:ruff --
      - id: flake8
        name: flake8
        language: system
        types: [python]
        entry: command -v task > /dev/null && CMD=task || CMD=go-task; ${CMD} lint:flake8 --
      - id: migrations
        name: migrations
        language: system
        types: [python]
        pass_filenames: false
        entry: command -v task > /dev/null && CMD=task || CMD=go-task; ${CMD} lint:migrations
  - repo: https://github.com/python-poetry/poetry
    rev: '1.4.0'
    hooks:
      - id: poetry-check
      - id: poetry-lock
        args: ["--check"]
