apiVersion: apps/v1
kind: Deployment
metadata:
  name: eda-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eda
      comp: api
  strategy: {}
  template:
    metadata:
      labels:
        app: eda
        comp: api
    spec:
      containers:
        - args:
            - /bin/bash
            - -c
            - aap-eda-manage migrate && scripts/create_superuser.sh && aap-eda-manage runserver 0.0.0.0:8000
          env:
            - name: EDA_DATABASE_URL
              value: postgresql+asyncpg://postgres:secret@postgres/eda
            - name: EDA_DB_HOST
              value: eda-postgres
            - name: EDA_DB_PASSWORD
              value: secret
            - name: EDA_SECRET_KEY
              value: secret
            - name: EDA_MQ_HOST
              value: eda-redis
            - name: EDA_ALLOWED_HOSTS
              value: "['*']"
          image: aap-eda
          imagePullPolicy: Never
          name: eda-api
          ports:
            - containerPort: 8000
          resources: {}
      restartPolicy: Always
      initContainers:
        - name: wait-for-postgres
          args:
            - /bin/bash
            - -c
            - aap-eda-manage createsuperuser --noinput
          env:
            - name: EDA_DB_HOST
              value: eda-postgres
            - name: DJANGO_SUPERUSER_USERNAME
              value: ${DJANGO_SUPERUSER_USERNAME:-admin}
            - name: DJANGO_SUPERUSER_PASSWORD
              value: ${DJANGO_SUPERUSER_PASSWORD:-testpass}
            - name: DJANGO_SUPERUSER_EMAIL
              value: ${DJANGO_SUPERUSER_EMAIL:-admin@test.com}
          image: docker.io/alpine:latest
          command: [ 'sh', '-c', "until nslookup ${EDA_DB_HOST}.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for ${EDA_DB_HOST}; sleep 2; done" ]
status: {}
