apiVersion: apps/v1
kind: Deployment
metadata:
  name: eda-default-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eda
      comp: default-worker
  strategy: {}
  template:
    metadata:
      labels:
        app: eda
        comp: default-worker
    spec:
      serviceAccountName: eda-default-sa
      containers:
        - args:
            - /bin/bash
            - -c
            - aap-eda-manage dispatcherd --worker-class DefaultWorker
          env:
            - name: EDA_DATABASE_URL
              value: postgresql+asyncpg://postgres:secret@postgres/eda
            - name: EDA_DB_HOST
              value: eda-postgres
            - name: EDA_DB_PASSWORD
              value: secret
            - name: EDA_SECRET_KEY
              value: secret
            - name: EDA_MQ_HOST
              value: eda-redis
            - name: EDA_DEPLOYMENT_TYPE
              value: k8s
          envFrom:
          - configMapRef:
              name: eda-env-properties
          image: aap-eda
          imagePullPolicy: Never
          name: eda-default-worker
          ports:
            - containerPort: 8000
          resources: {}
#          volumeMounts:
#            - mountPath: /app/src
#              name: app-src
      restartPolicy: Always
#      volumes:
#        - name: app-src
#          persistentVolumeClaim:
#            claimName: app-src
status: {}
