apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./eda-api
- ./eda-default-worker
- ./eda-ui
- ./postgres
- ./redis
- ./eda-activation-worker

namespace: aap-eda

commonLabels:
  app: eda

generatorOptions:
  labels:
    app: eda

configMapGenerator:
- name: eda-env-properties
  envs: [environment.properties]
