EDA_CONTROLLER_URL=<<controller_url>>
EDA_CONTROLLER_TOKEN=<<controller_token>>
EDA_CONTROLLER_SSL_VERIFY=no

EDA_DEPLOYMENT_TYPE=docker
EDA_WEBSOCKET_SERVER_NAME=host.docker.internal
EDA_WEBSOCKET_SERVER_HOST=8000

