x-environment: &common-env
  EDA_DB_HOST: postgres
  EDA_MQ_HOST: ${EDA_MQ_HOST:-redis}
  EDA_MQ_PORT: ${EDA_MQ_PORT:-6379}
  EDA_MQ_USER: ${EDA_MQ_USER:-}
  EDA_MQ_USER_PASSWORD: ${EDA_MQ_USER_PASSWORD:-}
  EDA_MQ_REDIS_HA_CLUSTER_HOSTS: ${EDA_MQ_REDIS_HA_CLUSTER_HOSTS:-}
  EDA_MODE: ${EDA_MODE:-development}
  DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE:-aap_eda.settings.default}
  EDA_ALLOWED_HOSTS: '*'
  EDA_DEPLOYMENT_TYPE: ${EDA_DEPLOYMENT_TYPE:-podman}
  EDA_WEBSOCKET_BASE_URL: ${EDA_WEBSOCKET_BASE_URL:-ws://eda-ws:8000}
  EDA_WEBSOCKET_SSL_VERIFY: "no"
  EDA_PODMAN_SOCKET_URL: tcp://podman:8888
  EDA_CONTROLLER_URL: ${EDA_CONTROLLER_URL:-https://awx-example.com}
  EDA_CONTROLLER_TOKEN: ${EDA_CONTROLLER_TOKEN:-some-secret-token}
  EDA_CONTROLLER_SSL_VERIFY: ${EDA_CONTROLLER_SSL_VERIFY:-no}
  EDA_PROTOCOL: http
  EDA_HOST: ${EDA_HOST:-eda-api:8000}
  EDA_SERVER: http://${EDA_HOST:-eda-api:8000}
  EDA_ANSIBLE_RULEBOOK_LOG_LEVEL: ${EDA_ANSIBLE_RULEBOOK_LOG_LEVEL:-'-v'}
  EDA_CONTAINER_NAME_PREFIX: ${EDA_CONTAINER_NAME_PREFIX:-eda}
  EDA_PODMAN_ENV_VARS: ${EDA_PODMAN_ENV_VARS:-'@none None'}
  EDA_MAX_RUNNING_ACTIVATIONS: ${EDA_MAX_RUNNING_ACTIVATIONS:-5}
  EDA_ACTIVATION_RESTART_SECONDS_ON_COMPLETE: ${EDA_ACTIVATION_RESTART_SECONDS_ON_COMPLETE:-5}
  EDA_ACTIVATION_RESTART_SECONDS_ON_FAILURE: ${EDA_ACTIVATION_RESTART_SECONDS_ON_FAILURE:-5}
  EDA_SECRET_KEY: ${EDA_SECRET_KEY:-'insecure'}
  EDA_DEBUG: ${EDA_DEBUG:-True}
  EDA_DB_PASSWORD: ${EDA_DB_PASSWORD:-'secret'}
  EDA_RULEBOOK_WORKER_QUEUES: "activation-node1,activation-node2"
  EDA_ALLOW_LOCAL_ASSIGNING_JWT_ROLES: ${EDA_ALLOW_LOCAL_ASSIGNING_JWT_ROLES:-True}
  EDA_ALLOW_SHARED_RESOURCE_CUSTOM_ROLES: ${EDA_ALLOW_SHARED_RESOURCE_CUSTOM_ROLES:-True}
  EDA_ANSIBLE_RULEBOOK_FLUSH_AFTER: ${EDA_ANSIBLE_RULEBOOK_FLUSH_AFTER:-100}
  EDA_DEFAULT_QUEUE_TIMEOUT: ${EDA_DEFAULT_QUEUE_TIMEOUT:-300}
  EDA_DEFAULT_RULEBOOK_QUEUE_TIMEOUT: ${EDA_DEFAULT_RULEBOOK_QUEUE_TIMEOUT:-120}
  EDA_RESOURCE_JWT_USER_ID: ${EDA_RESOURCE_JWT_USER_ID:-'@none None'}
  EDA_SERVER_UUID: edgecafe-beef-feed-fade-decadeedgecafe
  EDA_PG_NOTIFY_DSN: "host=host.containers.internal port=5432 dbname=eda user=postgres password=secret"
  EDA_PG_NOTIFY_DSN_SERVER: "host=postgres port=5432 dbname=eda user=postgres password=secret"
  EDA_EVENT_STREAM_BASE_URL: ${EDA_EVENT_STREAM_BASE_URL:-https://localhost:8443/edgecafe-beef-feed-fade-decadeedgecafe/}
  EDA_EVENT_STREAM_MTLS_BASE_URL: ${EDA_EVENT_STREAM_MTLS_BASE_URL:-https://localhost:8443/mtls/edgecafe-beef-feed-fade-decadeedgecafe/}
  EDA_WEBHOOK_HOST: ${EDA_WEBHOOK_HOST:-eda-webhook-api:8000}
  EDA_WEBHOOK_SERVER: http://${EDA_WEBHOOK_HOST:-eda-webhook-api:8000}
  EDA_STATIC_URL: ${EDA_STATIC_URL:-api/eda/v1/static/}
  SSL_CERTIFICATE: ${SSL_CERTIFICATE:-/certs/wildcard.crt}
  SSL_CERTIFICATE_KEY: ${SSL_CERTIFICATE_KEY:-/certs/wildcard.key}
  SSL_CLIENT_CERTIFICATE: ${SSL_CLIENT_CERTIFICATE:-/certs/client.crt}
  EDA_FEATURE_EDA_ANALYTICS_ENABLED: ${EDA_FEATURE_EDA_ANALYTICS_ENABLED:-True}
  EDA_AUTOMATION_ANALYTICS_URL: ${EDA_AUTOMATION_ANALYTICS_URL:-}
  EDA_INSIGHTS_CERT_PATH: ${EDA_INSIGHTS_CERT_PATH:-/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem}
  EDA_AUTOMATION_ANALYTICS_OIDC_TOKEN_URL: ${EDA_AUTOMATION_ANALYTICS_OIDC_TOKEN_URL:-https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token}
  EDA_ANALYTICS_PROXY_URL: ${EDA_ANALYTICS_PROXY_URL:-'@none None'}
  EDA_AUTOMATION_AUTH_METHOD: ${EDA_AUTOMATION_AUTH_METHOD:-'service-account'}
  EDA_INSIGHTS_TRACKING_STATE: ${EDA_INSIGHTS_TRACKING_STATE:-False}
  EDA_AUTOMATION_ANALYTICS_GATHER_INTERVAL: ${EDA_AUTOMATION_ANALYTICS_GATHER_INTERVAL:-14400}
  EDA_REDHAT_USERNAME: ${EDA_REDHAT_USERNAME:-''}
  EDA_REDHAT_PASSWORD: ${EDA_REDHAT_PASSWORD:-''}

services:
  podman-node1:
    user: ${EDA_PODMAN_USER_ID:-0}
    image: ${EDA_PODMAN_IMAGE:-quay.io/containers/podman}:${EDA_PODMAN_VERSION:-v4}
    privileged: true
    command: >-
      podman system service --time=0 tcp://0.0.0.0:8888
    ports:
      - "${EDA_PODMAN_NODE1_PORT:-8888}:8888"

  podman-node2:
    user: ${EDA_PODMAN_USER_ID:-0}
    image: ${EDA_PODMAN_IMAGE:-quay.io/containers/podman}:${EDA_PODMAN_VERSION:-v4}
    privileged: true
    command: >-
      podman system service --time=0 tcp://0.0.0.0:8888
    ports:
      - "${EDA_PODMAN_NODE2_PORT:-8889}:8888"

  postgres:
    image: ${EDA_POSTGRES_IMAGE:-quay.io/sclorg/postgresql-15-c9s}:${EDA_POSTGRES_VERSION:-latest}
    environment:
      POSTGRESQL_USER: eda
      POSTGRESQL_PASSWORD: secret
      POSTGRESQL_ADMIN_PASSWORD: secret
      POSTGRESQL_DATABASE: eda
    ports:
      - '${EDA_PG_PORT:-5432}:5432'
    volumes:
      - 'postgres_data:/var/lib/pgsql/data'
    healthcheck:
      test: [ 'CMD', 'pg_isready', '-U', 'postgres' ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  redis:
    image: ${EDA_REDIS_IMAGE:-quay.io/fedora/redis-6}:${EDA_REDIS_VERSION:-latest}
    ports:
      - '${EDA_REDIS_PORT:-6379}:6379'
    healthcheck:
      test: [ 'CMD', 'redis-cli', 'ping' ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  eda-api:
    image: ${EDA_IMAGE:-localhost/aap-eda}
    build:
      context: ../../
      dockerfile: tools/docker/Dockerfile
    environment: *common-env
    command:
      - /bin/bash
      - -c
      - >-
        aap-eda-manage migrate
        && ANSIBLE_REVERSE_RESOURCE_SYNC=false aap-eda-manage create_initial_data
        && ANSIBLE_REVERSE_RESOURCE_SYNC=false scripts/create_superuser.sh
        && aap-eda-manage runserver 0.0.0.0:8000
    ports:
      - "${EDA_API_PORT:-8000}:8000"
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ 'CMD', 'curl', '-q', 'http://localhost:8000/_healthz' ]
      interval: 30s
      timeout: 5s
      retries: 10
    volumes:
      - '../../:/app/src:z'
    networks:
      - service-mesh
      - default

  eda-ws:
    image: ${EDA_IMAGE:-localhost/aap-eda}
    environment: *common-env
    command:
      - /bin/bash
      - -c
      - >-
        aap-eda-manage runserver 0.0.0.0:8000
    ports:
      - "${EDA_WS_PORT:-8001}:8000"
    depends_on:
      eda-api:
        condition: service_healthy
    volumes:
      - '../../:/app/src:z'

  eda-scheduler:
    image: ${EDA_IMAGE:-localhost/aap-eda}
    deploy:
      replicas: ${EDA_SCHEDULER_WORKERS:-2}
    environment: *common-env
    command:
      - /bin/bash
      - -c
      - >-
        aap-eda-manage scheduler
    depends_on:
      eda-api:
        condition: service_healthy
    volumes:
      - '../../:/app/src:z'
    restart: always

  eda-default-worker:
    image: ${EDA_IMAGE:-localhost/aap-eda}
    deploy:
      replicas: ${EDA_DEFAULT_WORKERS:-2}
    environment: *common-env
    command:
      - /bin/bash
      - -c
      - >-
        aap-eda-manage rqworker
        --worker-class aap_eda.core.tasking.DefaultWorker
    depends_on:
      eda-api:
        condition: service_healthy
    volumes:
      - '../../:/app/src:z'
    restart: always

  eda-activation-worker-node1:
    image: ${EDA_IMAGE:-localhost/aap-eda}
    deploy:
      replicas: ${EDA_ACTIVATION_WORKERS:-2}
    environment:
      <<: *common-env
      EDA_RULEBOOK_QUEUE_NAME: 'activation-node1'
      EDA_PODMAN_SOCKET_URL: tcp://podman-node1:8888
    command:
      - /bin/bash
      - -c
      - >-
        aap-eda-manage rqworker
        --worker-class aap_eda.core.tasking.ActivationWorker
    depends_on:
      eda-api:
        condition: service_healthy
    volumes:
      - '../../:/app/src:z'
    restart: always

  eda-activation-worker-node2:
    image: ${EDA_IMAGE:-localhost/aap-eda}
    deploy:
      replicas: ${EDA_ACTIVATION_WORKERS:-2}
    environment:
      <<: *common-env
      EDA_RULEBOOK_QUEUE_NAME: 'activation-node2'
      EDA_PODMAN_SOCKET_URL: tcp://podman-node2:8888
    command:
      - /bin/bash
      - -c
      - >-
        aap-eda-manage rqworker
        --worker-class aap_eda.core.tasking.ActivationWorker
    depends_on:
      eda-api:
        condition: service_healthy
    volumes:
      - '../../:/app/src:z'
    restart: always

  eda-webhook-api:
    image: ${EDA_IMAGE:-localhost/aap-eda}
    environment: *common-env
    command:
      - /bin/bash
      - -c
      - >-
        gunicorn -b 0.0.0.0:8000 -w ${EDA_WEBHOOK_WORKERS:-2} aap_eda.wsgi --access-logfile -
    ports:
      - '8555:8000'
    depends_on:
      eda-api:
        condition: service_healthy
    healthcheck:
      test: [ 'CMD', 'curl', '-q', 'http://localhost:8000/_healthz' ]
      interval: 30s
      timeout: 5s
      retries: 10
    volumes:
      - '../../:/app/src:z'

  squid:
    image: ${EDA_SQUID_IMAGE:-quay.io/openshifttest/squid-proxy}:${EDA_SQUID_VERSION:-1.2.0}
    profiles:
      - proxy
    hostname: squid
    volumes:
      - './squid/squid.conf:/etc/squid/squid.conf:z'
      - './squid/htpass:/etc/squid/htpass:z'
    ports:
      - '${EDA_PROXY_PORT:-3128}:3128'

  eda-ui:
    image: ${EDA_UI_IMAGE:-quay.io/ansible/eda-ui:main}
    environment: *common-env
    ports:
      - '${EDA_UI_PORT:-8443}:443'
    volumes:
      - './my_certs:/tmp/my_certs:z'
      - './nginx/certs:/certs:z'
      - './nginx/default.conf.template:/etc/nginx/templates/default.conf.template:z'
    depends_on:
      eda-webhook-api:
        condition: service_healthy
    networks:
      - service-mesh
      - default

volumes:
  postgres_data: {}

networks:
  service-mesh:
    name: service-mesh
