name: CI

env:
  POETRY_NO_INTERACTION: 1

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main', 'devel' ]
  merge_group:
    branches: [ 'main' ]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install dependencies
        run: poetry install --no-root --only=lint

      - name: Lint with black
        run: poetry run black --check -- .

      - name: Lint with isort
        run: poetry run isort --check -- .

      - name: Lint with ruff
        run: poetry run ruff --show-source -- .

      - name: Lint with flake8
        run: poetry run flake8 . --count --show-source --statistics


  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.11"
    env:
      EDA_SECRET_KEY: 'test'
      EDA_DB_PASSWORD: 'secret'
      TIMEOUT: 60
    services:
      postgres:
        image: 'quay.io/sclorg/postgresql-13-c9s:latest'
        env:
          POSTGRESQL_USER: eda
          POSTGRESQL_PASSWORD: secret
          POSTGRESQL_ADMIN_PASSWORD: secret
          POSTGRESQL_DATABASE: eda
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - '5432:5432'
      redis: # Add this section for Redis
        image: 'quay.io/sclorg/redis-6-c9s:latest'
        ports:
          - '6379:6379'
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Experimental LDAP Integration https://issues.redhat.com/browse/AAP-16938
      - name: Install LDAP dependencies
        run: |
            set -ex
            sudo apt update
            sudo apt install python3-dev libldap2-dev libsasl2-dev libssl-dev libxmlsec1 libxmlsec1-dev

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install package
        run: poetry install -E all --only main,test

      - name: Check migrations are up to date
        run: poetry run /usr/bin/env aap-eda-manage makemigrations --dry-run --check

      - name: Run tests
        run: poetry run python -m pytest -vv --cov=./ --cov-report=xml

      - name: Build and run api server with docker
        working-directory: tools/docker
        env:
          DJANGO_SETTINGS_MODULE: aap_eda.settings.default
          EDA_DEBUG: "false"
        run: |
          docker-compose -p eda -f docker-compose-dev.yaml build
          docker-compose -p eda -f docker-compose-dev.yaml up -d

          timeout=${{ env.TIMEOUT }}
          start=$SECONDS

          while ! curl -s http://localhost:8000/_healthz | grep -q "OK"; do
            now=$SECONDS
            if [ $(($now - $start)) -ge $timeout ]; then
              echo "API did not become ready in time."
              exit 1
            fi
            echo "Waiting for API to be ready..."
            sleep 1
          done

      - name: Validate OpenAPI schema
        run: |
          set -ex
          npm install -g swagger-cli
          swagger-cli validate http://localhost:8000/api/eda/v1/openapi.json

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: false
          files: ./coverage.xml
          flags: "unit-int-tests-${{ matrix.python-version }}"
          name: codecov-umbrella
          verbose: true
