name: CI

env:
  POETRY_NO_INTERACTION: 1

on:
  push:
    branches: [ 'main' ]
  pull_request:
  merge_group:
    branches: [ 'main' ]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: lint
        uses: ./.github/actions/lint

  validate-openapi-spec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: validate-openapi-spec
        uses: ./.github/actions/validate-openapi-spec

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
    env:
      EDA_SECRET_KEY: 'test'
      EDA_DB_PASSWORD: 'secret'
      PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_USER: ${{ vars.PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_USER }}
      PDE_ORG_RESULTS_UPLOAD_PASSWORD: ${{ secrets.PDE_ORG_RESULTS_UPLOAD_PASSWORD }}
      PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_URL: ${{ vars.PDE_ORG_RESULTS_AGGREGATOR_UPLOAD_URL }}
    services:
      postgres:
        image: 'quay.io/sclorg/postgresql-15-c9s:latest'
        env:
          POSTGRESQL_USER: eda
          POSTGRESQL_PASSWORD: ${{ env.EDA_DB_PASSWORD }}
          POSTGRESQL_ADMIN_PASSWORD: ${{ env.EDA_DB_PASSWORD }}
          POSTGRESQL_DATABASE: eda
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - '5432:5432'
      redis: # Add this section for Redis
        image: 'quay.io/fedora/redis-6:latest'
        ports:
          - '6379:6379'
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: test
        uses: ./.github/actions/test
        with:
          python-version: ${{ matrix.python-version }}