name: e2e tests on demand

on:
  workflow_dispatch:
    inputs:
      edaqa_ref:
        description: 'ref of the eda-qa repository, default is main'
        required: false
        default: 'main'
  pull_request_target:
    types:
      - labeled
      - synchronize

env:
  EDA_QA_PATH: "./eda-qa"
  REGISTRY: quay.io
  QUAY_USER: ansible+eda_gha
  TIMEOUT: 60

jobs:
  api-e2e-tests:
    if: >
      (github.repository == 'ansible/eda-server' && github.event_name == 'workflow_dispatch') ||
      (github.repository == 'ansible/eda-server' && github.event_name == 'pull_request_target' &&
        contains(github.event.pull_request.labels.*.name, 'run-e2e'))
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Run api in background
        working-directory: tools/docker
        env:
          DJANGO_SETTINGS_MODULE: aap_eda.settings.default
          EDA_DEBUG: "false"
        run: |
          docker-compose -p eda -f docker-compose-dev.yaml build
          docker-compose -p eda -f docker-compose-dev.yaml up -d

          timeout=${{ env.TIMEOUT }}
          start=$SECONDS

          while ! curl -s http://localhost:8000/_healthz | grep -q "OK"; do
            now=$SECONDS
            if [ $(($now - $start)) -ge $timeout ]; then
              echo "API did not become ready in time."
              exit 1
            fi
            echo "Waiting for API to be ready..."
            sleep 1
          done

      - name: Validate openapi spec
        run: |
          npm install -g swagger-cli
          swagger-cli validate http://localhost:8000/api/eda/v1/openapi.json

      - name: Fetch test suite
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: ansible/eda-qa
          ref: ${{ github.event.inputs.edaqa_ref }}
          path: ${{ env.EDA_QA_PATH }}
          token: ${{ secrets.EDA_QA_GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        working-directory: ${{ env.EDA_QA_PATH }}
        run: pip install .

      - name: Run tests
        working-directory: ${{ env.EDA_QA_PATH }}
        env:
          EDAQA_FERNET_PASSWORD: ${{ secrets.EDAQA_FERNET_PASSWORD }}
          EDAQA_ENV: authenticated
        run: pytest

      - name: Print EDA logs
        if: always()
        working-directory: tools/docker
        run: |
          docker-compose -p eda -f docker-compose-dev.yaml logs

