---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ eda_namespace }}
 
generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
 - name: eda-secret-tls
   files:
    - tls.crt
    - tls.key

secretGenerator: 
  - name: eda-database-configuration
    type: Opaque
    literals:
      - host={{ eda_server_kustomization.eda_database_configuration_host }}
      - port={{ eda_server_kustomization.eda_database_configuration_port }}
      - database={{ eda_server_kustomization.eda_database_configuration_database }}
      - username={{ eda_server_kustomization.eda_database_configuration_username }}
      - password={{ eda_server_kustomization.eda_database_configuration_password }}
      - type=managed
 
  - name: eda-admin-password
    type: Opaque
    literals:
      - password={{ eda_server_kustomization.eda_admin_password }}

resources:
  - eda-server-pvc.yaml
  - eda-server.yaml
